@charset "utf-8";
/* Css Document */


  body { background-color:white; margin:0; padding:0; }
  html {margin:0; padding:0; }
table{
  border:1px solid #000000;
}


  /* headers and text */

  h1 { color:#063cb9; text-align:center; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}


a:link, a:visited {
  font-family: "Bangers";
  font-size: 2em;
    display: block;
    font-weight: bold;
    color: blue;
    background-color: white;
    width: 230px;
    height: 50px;
    text-align: none;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;




a:hover, a:active {
    background-color: white;

}
